#header {
  background-color: #C3C3C380;
}

#websiteLogo {
  background-color: #00000080;
  width: 112px;
  margin: auto;
}

nav {
  display: flex;
  flex-direction: row;
  margin: auto, 0, auto, 0;
}

#navBarMiddleSection {
  display: flex;
  flex-direction: row;
  gap: 27px;
  margin: auto;
}

#navBarRightSection {
  display: flex; 
  flex-direction: row; 
  margin: auto;
  gap: 27px;
}

#main-section {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  gap: 70px;
  box-shadow: 5px inset;
}

#main-section img {
  margin-top: 60px;
  width: 545px;
}

#main-section p {
  font-size: 57px; 
  color: white; 
  font-family: "Roboto";
  text-shadow: 1px;
}

#home-gradient-transition {
  background: linear-gradient(180deg, rgba(93,93,93, 0) 0%, rgba(93,93,93, 1) 53%);
  height: 303px;
  padding: 0;
  border: 0;
  margin: 0;
}

#project-section {
  background-color: #C3C3C3;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px;
}

#project-section .project-wrapper {
  display: flex; 
  flex-flow: row wrap; 
  row-gap: 50px;
  column-gap: 30px;
}